java/device-samples/src/main/resources/flow-to-induce-problem.txt
[{"id":"54e660c0.6e82a","type":"ibmiot","z":"f3ded337.35793","name":"zjps4o"},{"id":"9056333.dedffd","type":"ibmiot in","z":"f3ded337.35793","authentication":"apiKey","apiKey":"54e660c0.6e82a","inputType":"evt","deviceId":"Arduino01","applicationId":"","deviceType":"iotsample-deviceType","eventType":"+","commandType":"","format":"json","name":"Receive events of Arduino01 - Attached device","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":true,"allCommands":"","allFormats":"","x":275,"y":123,"wires":[["da00c938.9d2208"]]},{"id":"da00c938.9d2208","type":"function","z":"f3ded337.35793","name":"Analyze Movement and buzz","func":"var deviceType = msg.topic.split('/')[2];\nvar deviceId = msg.topic.split('/')[4];\n\nvar h = msg.payload;\nif(h.hasOwnProperty('d')) {\n    h = h.d;\n}\nif(h.pir > 0) {\n    msg = {\n        payload: {\n            \"BUZZ\": 2\n        },\n        \"deviceId\": deviceId,\n        \"deviceType\": deviceType\n    }\n    return msg;\n}\n","outputs":1,"noerr":0,"x":624,"y":120,"wires":[["f87bf835.751e08","b779fed.a0518"]]},{"id":"f87bf835.751e08","type":"ibmiot out","z":"f3ded337.35793","authentication":"apiKey","apiKey":"54e660c0.6e82a","outputType":"cmd","deviceId":"Arduino01","deviceType":"iotsample-deviceType","eventCommandType":"blink","format":"json","data":"","name":"Send Commands","service":"registered","x":955,"y":194,"wires":[]},{"id":"46979c5.d3e6964","type":"inject","z":"f3ded337.35793","name":"Buzz sensor for 5 times","topic":"","payload":"{\"BUZZ\":5}","payloadType":"json","repeat":"","crontab":"","once":false,"x":501,"y":239,"wires":[["f87bf835.751e08","b779fed.a0518"]]},{"id":"b779fed.a0518","type":"debug","z":"f3ded337.35793","name":"","active":true,"console":"false","complete":"false","x":906,"y":283,"wires":[]},{"id":"790a9222.5c17bc","type":"inject","z":"f3ded337.35793","name":"Induce problem - don't send events","topic":"","payload":"{\"BUZZ\":100}","payloadType":"json","repeat":"","crontab":"","once":false,"x":507,"y":336,"wires":[["f87bf835.751e08","b779fed.a0518"]]}]