node-red/BB-8-flows/command-flow.txt
[{"id":"160c5b3e.c6642d","type":"wiotp-credentials","z":"96cd5fdf.c5ce1","name":"Device01","org":"coi0nz","devType":"iotsample-deviceType","devId":"Device01"},{"id":"69eb5807.1905b8","type":"wiotp in","z":"96cd5fdf.c5ce1","authType":"d","deviceKey":"160c5b3e.c6642d","deviceType":"","deviceId":"","command":"+","commandType":"g","name":"Receive Commands from Watson IoT","x":293,"y":865,"wires":[["67f70944.c046e"]]},{"id":"67f70944.c046e","type":"switch","z":"96cd5fdf.c5ce1","name":"Switch","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"spin","vt":"str"},{"t":"eq","v":"roll","vt":"str"},{"t":"eq","v":"color","vt":"str"}],"checkall":"true","outputs":3,"x":543,"y":863,"wires":[[],[],["fddc29c1.4a65e"]]},{"id":"fddc29c1.4a65e","type":"function","z":"96cd5fdf.c5ce1","name":"set RGB color","func":"var Cylon = context.global.cylon;\nCylon.robot({\n  work: function(my) {\n      bb8= context.global.bb8;\n      bb8.color({ red: msg.payload.values.red, green: msg.payload.values.green, blue: msg.payload.values.blue });\n  }\n}).start();\n","outputs":1,"noerr":0,"x":779,"y":878,"wires":[[]]},{"id":"f8bbe43e.442e98","type":"comment","z":"96cd5fdf.c5ce1","name":"Command flow","info":"","x":230,"y":816.5,"wires":[]}]