node-red/BB-8-flows/local-device-flow.txt
[{"id":"160c5b3e.c6642d","type":"wiotp-credentials","z":"96cd5fdf.c5ce1","name":"Device01","org":"coi0nz","devType":"iotsample-deviceType","devId":"Device01"},{"id":"75700ec0.72e19","type":"inject","z":"96cd5fdf.c5ce1","name":"Initiate","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":207.11666870117188,"y":78.11666870117188,"wires":[["e27fcaae.766a6"]]},{"id":"e27fcaae.766a6","type":"function","z":"96cd5fdf.c5ce1","name":"Connect to BB-8","func":"var Cylon = context.global.cylon;\n\nCylon.robot({\n  connections: {\n    bluetooth: { adaptor: 'central', uuid: 'd9e1319ea372', module: 'cylon-ble'}\n  },\n\n  devices: {\n    bb8: { driver: 'bb8', module: 'cylon-sphero-ble'}\n  },\n\n  work: function(my) {\n    my.bb8.color({ red: 0, green: 255, blue: 0 });\n    context.global.bb8=my.bb8;\n    \n     my.bb8.on(\"collision\", function(data) {\n      context.global.bb8.data=data;\n      node.status({text:\"Collision detected\"});\n    });\n    my.bb8.detectCollisions();\n  }\n}).start();\nreturn msg;","outputs":1,"noerr":0,"x":464.11669921875,"y":79.11666870117188,"wires":[[]]},{"id":"7497fa02.ff307c","type":"function","z":"96cd5fdf.c5ce1","name":"Start spinning","func":"var Cylon = context.global.cylon;\nCylon.robot({\n  work: function(my) {\n    bb8= context.global.bb8;\n    bb8.spin(\"left\", 200);\n  }\n}).start();\nvar msg;\nmsg.payload = \"hello\";\nreturn msg;","outputs":1,"noerr":0,"x":408,"y":192.11666870117188,"wires":[["42fc2b5f.a0e29c"]]},{"id":"52f80a1e.67fb3c","type":"inject","z":"96cd5fdf.c5ce1","name":"Initiate","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":209,"y":192.11666870117188,"wires":[["7497fa02.ff307c"]]},{"id":"42fc2b5f.a0e29c","type":"delay","z":"96cd5fdf.c5ce1","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":596,"y":191.5,"wires":[["cdb86c43.ae7e7"]]},{"id":"cdb86c43.ae7e7","type":"function","z":"96cd5fdf.c5ce1","name":"Stop spinning","func":"var Cylon = context.global.cylon;\nCylon.robot({\n  work: function(my) {\n    bb8= context.global.bb8;\n    bb8.stop();\n  }\n}).start();","outputs":1,"noerr":0,"x":784,"y":240.5,"wires":[[]]},{"id":"37d0d2cc.d0b686","type":"comment","z":"96cd5fdf.c5ce1","name":"Connect to BB-8 flow","info":"","x":234,"y":42.5,"wires":[]},{"id":"cbec6e95.c4b668","type":"comment","z":"96cd5fdf.c5ce1","name":"Spin flow","info":"","x":195,"y":151,"wires":[]},{"id":"35f49cd7.9de764","type":"wiotp out","z":"96cd5fdf.c5ce1","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"160c5b3e.c6642d","deviceType":"","deviceId":"","event":"event","format":"json","name":"Send Events to Watson IoT","x":730,"y":596,"wires":[]},{"id":"71fdde6b.cf179","type":"wiotp in","z":"96cd5fdf.c5ce1","authType":"d","deviceKey":"160c5b3e.c6642d","deviceType":"","deviceId":"","command":"+","commandType":"g","name":"Receive Commands from Watson IoT","x":280,"y":412.5,"wires":[["6679ab60.571f3c"]]},{"id":"6679ab60.571f3c","type":"switch","z":"96cd5fdf.c5ce1","name":"Switch","property":"payload.action","propertyType":"msg","rules":[{"t":"eq","v":"spin","vt":"str"},{"t":"eq","v":"roll","vt":"str"},{"t":"eq","v":"color","vt":"str"}],"checkall":"true","outputs":3,"x":537,"y":411.5,"wires":[["7497fa02.ff307c"],["7c24adcd.34eb64"],["73c7b2f3.24df8c"]]},{"id":"7c24adcd.34eb64","type":"function","z":"96cd5fdf.c5ce1","name":"Start rolling","func":"var Cylon = context.global.cylon;\nCylon.robot({\n  work: function(my) {\n    bb8= context.global.bb8;\n    bb8.roll(100, 60);\n  }\n}).start();\nvar msg;\nmsg.payload = \"hello\";\nreturn msg;","outputs":1,"noerr":0,"x":413,"y":280,"wires":[["87c7d7df.e71558"]]},{"id":"b7e669f7.6d70d","type":"inject","z":"96cd5fdf.c5ce1","name":"Initiate","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":208,"y":279,"wires":[["7c24adcd.34eb64"]]},{"id":"87c7d7df.e71558","type":"delay","z":"96cd5fdf.c5ce1","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":598,"y":280,"wires":[["8af64eb8.035378"]]},{"id":"8af64eb8.035378","type":"function","z":"96cd5fdf.c5ce1","name":"Stop rolling","func":"var Cylon = context.global.cylon;\nCylon.robot({\n  work: function(my) {\n    bb8= context.global.bb8;\n    bb8.stop();\n  }\n}).start();","outputs":1,"noerr":0,"x":785,"y":332,"wires":[[]]},{"id":"33fa4124.c425d6","type":"comment","z":"96cd5fdf.c5ce1","name":"Roll flow","info":"","x":192,"y":242,"wires":[]},{"id":"73c7b2f3.24df8c","type":"function","z":"96cd5fdf.c5ce1","name":"set RGB color","func":"var Cylon = context.global.cylon;\nCylon.robot({\n  work: function(my) {\n      bb8= context.global.bb8;\n      bb8.color({ red: msg.payload.values.red, green: msg.payload.values.green, blue: msg.payload.values.blue });\n  }\n}).start();\n","outputs":1,"noerr":0,"x":788,"y":422.5,"wires":[[]]},{"id":"ed1c7c64.a5d5f8","type":"status","z":"96cd5fdf.c5ce1","name":"Collision event","scope":["e27fcaae.766a6"],"x":219,"y":549.5,"wires":[["ea0d617c.3051f"]]},{"id":"ea0d617c.3051f","type":"function","z":"96cd5fdf.c5ce1","name":"Get collision data","func":"var msg;\nmsg.payload = context.global.bb8.data;\nreturn msg;","outputs":1,"noerr":0,"x":437,"y":550.5,"wires":[["35f49cd7.9de764"]]},{"id":"5e99432d.c1def4","type":"comment","z":"96cd5fdf.c5ce1","name":"Even flow","info":"","x":200,"y":506,"wires":[]},{"id":"33d570bf.5a4c6","type":"comment","z":"96cd5fdf.c5ce1","name":"Command flow","info":"","x":215,"y":370,"wires":[]}]